/* ADD THE FONT HERE */

body {
    margin: 0;
    font-family: 'Montserrat', serif;
    background: #ffc8c8;
}

/* Header CSS */

header {
    padding: 2vw;
    background: linear-gradient(45deg, #ff7878, #c957b0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header span.branding p {
    margin: 0px;
    font-size: 1.2vw;
}

header span.links a {
    transition: background 0.3s, color 0.3s, box-shadow 0.3s;
    color: black;
    background: white;
    padding: 1vw;
    border-radius: 1vw;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.7vw;
    margin-right: 0.5vw;
}

header span.links a:hover {
    background: black;
    color: white;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.5);
}

header span.links a:last-child {
    margin-right: 0px;
}

/* Footer CSS */

footer {
    text-align: center;
    padding: 2vw;
}

/* General Elements */

h1, h2, h3, h4, h5, h6 {
    font-size: 2.5vw;
    margin: 0;
    filter: drop-shadow(0px 2px 6px rgb(0,0,0,0.5));
}

hr {
    border: solid 1px black;
    box-shadow: 0px 2px 6px rgb(0,0,0,0.5);
    margin-top: 3vw;
    margin-bottom: 3vw;
}

div.content {
    display: flex;
}

div.content div {
    width: 50%;
    padding: 2vw;
}

/* Setting Element */

span.setting {
    margin-top: 1vw;
    background: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1vw;
    box-shadow: 0px 2px 6px rgb(0,0,0,0.5);
}

span.setting:hover {
    background: #FFFFFF;
}

span.setting span.description {
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

span.setting span.description label {
    font-weight: 700;
    font-size: 1.8vw;
}

span.setting span.description sub {
    color: grey;
    font-size: 1.3vw;
}

span.setting input[type="color"] {
    height: 3vw;
    width: 3vw;
    margin-right: 2vw;
}

span.setting input[type="checkbox"] {
    height: 2vw;
    width: 2vw;
    margin-right: 2vw;
}

span.setting.text {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

span.setting.text input[type="text"] {
    margin-left: 1vw;
    margin-right: 1vw;
    padding: 1vw;
    width: 40.5vw;
    border-radius: 0.5vw;
    margin-bottom: 1vw;
    font-size: 1.5vw;
    border: solid 0.1vw rgb(0,0,0,0.25);
    font-family: 'Montserrat';
}

/* Basic Classes */

.hidden {
    transition: height 0.3s;
    height: 0px !important;
}