@font-face { font-family: "Inter"; src: url(../font/Inter.ttf); }

body {
    background: #1F1F1F;
    color: white;
    font-family: "Inter", "Segoe UI", "Arial", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 300px;
}

form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

a {
    color: white;
}