@font-face { font-family: "Inter"; src: url(../font/Inter.ttf); } @font-face { font-family: "Roobert"; src: url(../font/Roobert-Regular.otf); }

:root {
    --accent-color: #ff3b3e;
    --background-color: #1F1F1F;
    --font-color: #F1F1F1;
    --header-font-color: #FFFFFF;
}

html {
    height: 100%;
}

body {
    background: var(--background-color);
    color: var(--font-color);
    font-family: "Inter", serif;
    font-weight: 400;
    text-align: center;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

h1 {
    font-family: "Roobert", serif;
    font-weight: 400;
}

h2 {
    font-family: "Inter", serif;
    font-weight: 400;
}

#channelInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 8px black;
    background: var(--accent-color);
    color: var(--header-font-color);
}

#channelInfo h1 {
    margin: 0;
}

#channelInfo img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#channelPFP {
    border-radius: 100%;
}

#emoteList {
    height: 100%;
    overflow-y: auto;
    margin-top: 5px;
} 

#emoteList div {
    margin: 5px;
}

#emoteList img {
    padding: 3px;
    height: 30px;
}

#emoteList h2 {
    font-weight: 400;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--accent-color);
}

#emoteList::-webkit-scrollbar-track {
    background: transparent;
}

#emoteList::-webkit-scrollbar {
    width: 3px;
}

#emoteList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--accent-color);
}

.hidden {
    display: none !important;
}